@using Mentorship.Control.CusomButton

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test page!</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/stone_button.css" />
    <script src="~/Scripts/engine.js"></script>
</head>
<body>
    <div>
        @Html.StoneButtonExtension("Disabled", "small", "false", "gray", "showName")
        @Html.StoneButtonExtension("Send", "small", "true", "yellow", "showName")
        @Html.StoneButtonExtension("Send", "bigger", "true", "gray", "showName")
    </div>
    <div style="clear: both; float :left">
        @CustomHtmlHelpers.StoneButtonStatic("Disabled", "bigger", "false", "yellow", "showName")
        @CustomHtmlHelpers.StoneButtonStatic("Send", "bigger", "true", "gray", "showName")
        @CustomHtmlHelpers.StoneButtonStatic("Send", "small", "true", "yellow", "showName")
    </div>
    <div style="clear: both; float :left">
       @Html.StoneButtonExtension()
    </div>
    <h2 id="info" style= "clear: both;"></h2>
</body>
</html>

