@using Mentorship.Helper.TreeView

@model IEnumerable<ITreeViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    @Html.TreeViewHelper(Model)
    <div>
        @Html.TextBox("nodeNameTextBox")
        @Html.Label("Is Parent?")
        @Html.CheckBox("isParentNode")
        <input type="button" id="add" value="Add" />
        <input type="button" id="delete" value="Delete" />
    </div>

    <script>

        $(document).ready(function () {

            var unknownId = "unknownId";

            Start();

            $("#add").click(function () {

                var nodeName = $("#nodeNameTextBox").val();

                if ($("#isParentNode").prop('checked')) {

                    $(".css-treeview").children('ul').append('<li><span id="item-' + unknownId + '">' + nodeName + '</span></li>');
                    $(".active").removeClass("active");

                    AddToDataBase(null, nodeName);

                } else {

                    var activeTag = $('.active');

                    var nextTag = activeTag.siblings("ul");

                    var parentId = activeTag.parentsUntil("input")[0].firstChild.attributes[0].nodeValue.replace(/[^0-9]/g, '');

                    if (nextTag.length > 0) {
                        if (nextTag[0].tagName == 'UL') {
                            nextTag.append('<li><span id="item-' + unknownId + '">' + nodeName + '</span></li>');
                        }
                    } else {

                        activeTag.after('<ul><li><span id="item-' + unknownId + '">' + nodeName + '</span></li></ul>');
                        activeTag.replaceWith('<input id="item-' + parentId + '" type= "checkbox" ></input > <label for="item-' + parentId + '">' + activeTag.text() + '</label>');
                    }

                    $(".active").removeClass("active");

                    AddToDataBase(parentId, nodeName);
                }

                Start();
            });


            $("#delete").click(function () {
                var currentId = null;

                var parentId = null;

                var activeTag = $('.active');

                var parentTag = activeTag.closest("ul").siblings("input");
                if (parentTag.length > 0) {
                    parentId = parentTag.attr("id").replace(/[^0-9]/g, '');
                }

                if (activeTag[0].tagName == "SPAN") {
                    currentId = activeTag.attr("id").replace(/[^0-9]/g, '');

                    DeleteFromDataBase(currentId, parentId);

                    ChangeTag(activeTag, parentId);

                } else {
                    currentId = activeTag.siblings("input").attr("id").replace(/[^0-9]/g, '');

                    DeleteFromDataBase(currentId, parentId);

                    ChangeTag(activeTag, parentId);

                }

                Start();
            });
        });
        

        function Start() {
            $("ul li label, ul li span").click(function () {
                $("ul li label, ul li span").removeClass("active");
                $(this).addClass("active");
                var text = $(this).text();
                $("#nodeNameTextBox").val(text);
            });
        }

        function ChangeTag(activeTag, parentId) {
            activeTag.parent("li").remove();

            if (parentId != null) {
                var isChildLi = $("#item-" + parentId).siblings("ul").children("li");
                if (isChildLi.length == 0) {
                    $("#item-" + parentId).parent("li").replaceWith('<li><span id="item-' + parentId + '">' + $("#item-" + parentId).siblings("label").text() + '</span></li>');
                }
            }
        }


        function AddToDataBase(parentId, nodeName) {

            $.ajax({
                    url: '@Url.Action("SaveCategory", "Home")',
                        type: 'POST',
                        data: JSON.stringify({ "parentId": parentId, "nodeName": nodeName }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {

                            if (result.Status == true) {
                                id = result.ID;
                                console.log("Done! new id = " + id);
                                $("#item-unknownId").attr("id", "item-" + id);
                                $("#item-" + id).addClass("active");
                            }
                            else {
                                console.log("Failed!")
                            }
                        }
                    });
        };


        function DeleteFromDataBase(currentId, parentId) {

            $.ajax({
                    url: '@Url.Action("DeleteCategory", "Home")',
                        type: 'POST',
                        data: JSON.stringify({ "currentId": currentId, "parentId" : parentId}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {

                            if (result.Status == true) {
                                var list = result.ListID;
                                list.forEach(function (item, i, list) {
                                    console.log("Done! deleted id = " + item);
                                });
                            }
                            else {
                                console.log("Failed!")
                            }
                        }
                    });
        };

    </script>
</body>

</html>
