@using Mentorship.Helper.TreeView

@model IEnumerable<ITreeViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    @Html.TreeViewHelper(Model)
    <div>
        @Html.TextBox("nodeName")
        @Html.Label("Is Parent?")
        @Html.CheckBox("parentNode")
        <input type="button" id="add" value="Add" />
        <input type="button" id="delete" value="Delete" />
        @*//@Html.Action("Refresh", "Home");*@
        <input type="button" id="refresh" value="Refresh" />
    </div>

    <script>

        $(document).ready(function () {

            Start();

            $("#add").click(function () {
                var text = $("#nodeName").val();

                if ($("#parentNode").prop('checked')) {
                    $("#nodeName").before('<div class="css-treeview"><ul><li><input id="'+6+'" type="checkbox"></input><label>' + text + '</label></ul></li></div>');
                    AddToDataBase(null, text);
                } else {
                    var activeTag = $('.active');

                    var nextTag = activeTag.siblings("ul");

                    if (nextTag.length > 0) {
                        if (nextTag[0].tagName == 'UL') {
                            nextTag.append('<li><span>' + text + '</span></li>');
                        }
                    } else {
                        activeTag.after('<ul><li><span>' + text + '</span></li></ul>');
                        activeTag.replaceWith('<input  type="checkbox"></input><label>' + activeTag.text() + '</label>');
                    }

                    var parentId = activeTag.parentsUntil("input")[0].firstChild.attributes[0].nodeValue.replace(/[^0-9]/g, '');
                    AddToDataBase(parentId, activeTag.text());
                }

                Start();
            });

            $("#delete").click(function () {
                var text = $("#nodeName").val();

                var activeTag = $('.active');

                var currentId = activeTag.siblings("input")[0].attributes[0].nodeValue.replace(/[^0-9]/g, '');

                activeTag.siblings("ul").remove();
                activeTag.remove();

                DeleteFromDataBase(currentId);

                //var parentNodes = activeTag.parents();
                //if (parentNodes != 'undefined') {
                //    var parentId = parentNodes.closest("input")[0].firstChild.attributes[0].nodeValue.replace(/[^0-9]/g, '');
                //}

                //var parentTag = activeTag.parent();
                //var besideTag = parentTag.siblings();

                //if (besideTag.length == 0) {
                //    activeTag.remove();

                //    IsParent(activeTag);
                //} else {
                //    activeTag.remove();
                //    activeTag = null;
                //    parentTag = null;
                //    besideTag = null;
                //}
                //activeTag.parent(activeTag).parentreplaceWith('<ul><li><span class>' + activeTag.text() + '</span></li></ul>')

                Start();
            });

            @*$("#refresh").click(function () {

                $(".css-treeview").remove();

               $.ajax({
                   url: '@Url.Action("Refresh", "Home")'
               });

                Start();
            });*@

        });

        //function IsParent(obj) {
        //    var parent = obj.siblings();
        //    if (parent[0].tagName == "INPUT") {
        //        parent[0].remove();
        //    }else{
        //        IsParent(parent);
        //    }

        //}

        function Start() {
            $("ul li label, ul li span").click(function () {
                $("ul li label, ul li span").removeClass("active");
                $(this).addClass("active");
                var text = ($(this)[0].id === "" ? $(this).text() : $(this)[0].text());
                $("#nodeName").val(text);
            });
        }

        function AddToDataBase(parentId, text) {

            $.ajax({
                    url: '@Url.Action("SaveCategory", "Home")',
                        type: 'POST',
                        data: JSON.stringify({ "parentId": parentId, "text": text }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {

                            if (result.Status == true) {
                                alert("Done!");
                            }
                            else {
                                alert("Failed!")
                            }
                        }
                    });
        };


        function DeleteFromDataBase(currentId) {

            $.ajax({
                    url: '@Url.Action("DeleteCategory", "Home")',
                        type: 'POST',
                        data: JSON.stringify({ "currentId": currentId}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {

                            if (result.Status == true) {
                                alert("Done!");
                            }
                            else {
                                alert("Failed!")
                            }
                        }
                    });
        };

    </script>
</body>

</html>
